<div [ngClass]="{'hidden': !isSnackbarVisible}"
  class="z-20 p-2 mx-auto absolute bottom-0 left-0 w-full h-24 overflow-y-hidden">
  <div
    [ngClass]="{'translate-y-24': !show, 'bg-indigo-400': kind === kinds.NEUTRAL, 'bg-red-400': kind === kinds.WARNING, 'bg-green-400': kind === kinds.SUCCESS, 'bg-blue-400': kind === kinds.INFO}"
    class="md:w-2/5 sm:w-1/2 mx-auto transition-transform duration-300 ease-in-out transform w-full h-20 rounded-md shadow-md flex items-center text-gray-100 font-semibold text-sm p-4">
    <p class="text-gray-200 font-semibold text-lg">{{message}}</p>
  </div>
</div>
